In [2]:
import pandas as pd

Dicionario_01 = {
    'A':[1,2,3],
    'B':[-32,-21,-15],
    'C':[60,10,20],
    'Chave': ['AA', 'BB', 'CC']
}
Dicionario_02 = {
    'A':[6,7,8],
    'B':[-39,-28,-17],
    'C':[1000,10,60],
    'Chave':['AA', 'BB', 'CC']
}
Dicionario_03 = {
    'A':[9,10,11],
    'B':[-39,-22,-11],
    'C':[30,10,20],
    'Chave':['AA', 'BB', 'CC']
}

# Criando várias listas para serem os labels
Label_01 = ['1º Linha', '2º Linha', '3º Linha']
Label_02 = ['4º Linha', '5º Linha', '6º Linha']
Label_03 = ['7º Linha', '8º Linha', '9º Linha']

# Estruturando as bases de dados
df1 = pd.DataFrame(Dicionario_01, index=Label_01)
df2 = pd.DataFrame(Dicionario_02, index=Label_02)
df3 = pd.DataFrame(Dicionario_03, index=Label_03)

In [5]:
df1.head() # Exibe as 4 primeiras linhas do dataframe

          A   B   C Chave
1º Linha  1 -32  60    AA
2º Linha  2 -21  10    BB
3º Linha  3 -15  20    CC

In [7]:
df2.head() # Exibe o segundo dataframe

          A   B     C Chave
4º Linha  6 -39  1000    AA
5º Linha  7 -28    10    BB
6º Linha  8 -17    60    CC

In [9]:
df3.head() # Exibe o terceiro dataframe

           A   B   C Chave
7º Linha   9 -39  30    AA
8º Linha  10 -22  10    BB
9º Linha  11 -11  20    CC

In [11]:
# Une os dataframes com o comando concat
df_n = pd.concat([df1,df2,df3])

In [15]:
# Mostra o resultado do processo anterior
df_n.head()

          A   B     C Chave
1º Linha  1 -32    60    AA
2º Linha  2 -21    10    BB
3º Linha  3 -15    20    CC
4º Linha  6 -39  1000    AA
5º Linha  7 -28    10    BB

In [16]:
# Une os dataframes com o comando merge
# 'INNER' verifica se a chave está presente em ambos os lados
df_n2 = pd.merge(df1,df2,how='inner', on='Chave')

In [18]:
df_n2.head()

   A_x  B_x  C_x Chave  A_y  B_y   C_y
0    1  -32   60    AA    6  -39  1000
1    2  -21   10    BB    7  -28    10
2    3  -15   20    CC    8  -17    60

In [19]:
df_n3 = pd.merge(df1,df3, how='right',on='Chave')

In [21]:
df_n3.head()

   A_x  B_x  C_x Chave  A_y  B_y  C_y
0    1  -32   60    AA    9  -39   30
1    2  -21   10    BB   10  -22   10
2    3  -15   20    CC   11  -11   20

In [22]:
Dic01 = {
    'A':[1,2,3],
    'B':[-32,-21,-15],
    'C':[60,10,20]
}
Dic02 = {
    'D':[6,7,8],
    'E':[-39,-38,-17],
    'F':[1000,10,60]
}
Label_01=['1ª linha', '2ª linha', '3ª linha'] # Cria o label
dataframe01 = pd.DataFrame(Dic01,index=Label_01)
dataframe02 = pd.DataFrame(Dic02,index=Label_01)

In [24]:
dataframe01.head()

          A   B   C
1ª linha  1 -32  60
2ª linha  2 -21  10
3ª linha  3 -15  20

In [26]:
dataframe02.head()

          D   E     F
1ª linha  6 -39  1000
2ª linha  7 -38    10
3ª linha  8 -17    60

In [ ]:
dataframe01.join(dataframe02) # Junta os dois dataframes
# O comando join une o dataframe na parte lateral, diferente do concat que adiciona abaixo